.PlanoFundo {
  width: 100%;
  height: 95%;
  background-color: rgb(255, 255, 255);
}

.fundo {
  background-color: black;
  position: absolute;
  border: 2px solid white;
  border-radius: 12px;
  left: calc(50% - 400px);
  top: 90px;
  width: 800px;
  height: 600px;
}

.listaficheiros {
  margin-top: 10px;
  color: white;
  font-size: large;
  border: 1px solid white;
  border-radius: 12px;
  padding: 10px;
}
